<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <div class="tenor-gif-embed" data-postid="13418519" data-share-method="host" data-width="100%" data-aspect-ratio="1.5"><script type="text/javascript" async src="https://tenor.com/embed.js"></script>

            </div>
        </div>
    </div>
</div>
<a href="users/new.html">Homepage</a>
