/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General settings */

/* General settings */

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(47, 80, 250), rgb(150, 170, 240));
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bear-icon {
  font-size: 30px;
  padding-bottom: 10px;
}
/* Login Page settings */

#sign-up-link {
  margin-top: 10px;
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}

.log-in h1 {
  color: rgb(47, 80, 250);
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.log-in label, input {
  margin-top: 8px;
}

/* Signup Page settings */

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}

.sign-up h1 {
  color: rgb(47, 80, 250);
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.sign-up label, input {
  margin-top: 8px;
}

.sign_up_link {
  margin-top: 25px;
}

/* Form settings */

form {
  width: 80%;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}

/* Posts Page Settings */

/* Menu */

.page_wrapper {
  display: flex;
  /* width: 100%;
  height: 100%; */
}

.menu_container {
  color: #fff;
  background-color: rgb(90, 110, 240);
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.menu {
  width: 80%;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-hand-side {
  display: flex;
  justify-content: flex-start;
}

.right-hand-side {
  display: flex;
  justify-content: flex-end;
}

.login, .home, .signup, .logout {
  margin-left: 10px;
}

/* Posts */

.posts_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}

.post_container {
  display: flex;
  width: 100%;
  border: 1px solid slategrey;
  flex-wrap: wrap;
  margin: 20px 0px;
  align-self: center;
  background-color: #fff;
}

.bear_icon_post {
  width: 15%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.user_name_post {
  width: 85%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: rgb(90, 110, 240);
  padding-top: 5px;
}

.user_content_post {
  display: flex;
  padding: 10px 30px;
  margin: 10px 0px;
  width: 100%;
}

.time_of_post {
  display: flex;
  padding: 10px 30px;
  margin-bottom: 15px;
  color: grey;
  width: 65%;
}

.delete_post {
  display: flex;
  width: 20%;
  align-self: center;
  margin-bottom: 15px;
  justify-content: flex-end;
}

.post_container a {
  color: blue;
  text-decoration: default;
  font-weight: bold;
}

/* New Posts Page */

.post_new_container {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  margin: 20px auto;
  align-self: center;
  border: 1px solid slategrey;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.post_new_container form {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bear_icon_post_new {
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  margin-bottom: 15px;
}

#special-text {
  font-size: 22px;
  align-self: center;
}

.new_post_label {
  display: none;
}

.new_post_message textarea {
  width: 100%;
  height: 85px;
  margin-bottom: 15px;
  font-size: 16px;
  overflow: auto;
}

.new_post_button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* User list */

.user-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.user-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border: 1px solid slategrey;
  padding: 20px;
  width: 100%;
  color: rgb(90, 110, 240);
  font-weight: bold;
  font-size: 22px;
  background-color: #fff;
}

.user-list h2 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: black;
}

/* User Wall Page */

.user-wall-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  margin-top: 15px;
}

.user-wall-details {
  display: flex;
  border: 1px solid slategrey;
  padding: 20px;
  background-color: #fff;
}

.user-details-box {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 15px;
}

.profile-pic {
  font-size: 100px;
  display: flex;
  align-self: center;
  padding-top: 10px;
}

.user-wall-name {
  font-weight: bold;
  color: rgb(90, 110, 240);
  padding-bottom: 10px;
}

.user-wall-email {
  font-weight: bold;
  color: rgb(90, 110, 240);
}

/* Other */

.new_post_link_button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.new_post_link {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 20px 0px;
  margin: 20px 0px;
  background-color: #4CAF50;
  text-decoration: none;
}

.new_post_link a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new_post_link_button a:link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.new_post_link_button a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.new_post_link_button a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.new_post_link_button a:active {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logout a:link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logout a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logout a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.logout a:active {
  color: white;
  font-weight: bold;
}

.logout a {
  margin-left: 10px;

}
